/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.centered-div {
    width: 80vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;


    font-style: normal;
    text-align: center;
}


.main-container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 30vw;
    margin: auto;
    flex-direction: column;
}

.alarmContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    scrollbar-width: none;

    -ms-overflow-style: none;
}

.alarmContainer::-webkit-scrollbar {
    display: none;

} */



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-div {
    width: 80vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-style: normal;
    text-align: center;
}

.heading {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    z-index: 1000;
    margin-bottom: 200px;
}

.main-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 30vw;
    margin: auto;
    flex-direction: column;
    padding-top: 20px
}

.alarmContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    overflow-y: auto;
    width: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.alarmContainer::-webkit-scrollbar {
    display: none;
}